* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-blue: #016fb9;
  --main-orange: #ff9505;

  --heading: "Montserrat", sans-serif;
  --content: "Poppins", sans-serif;
}

.background {
  background-image: url("images/delivery.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  padding: 1rem 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 5rem;
}

.logo img {
  width: 100%;
}

/* .fa-bars {
} */
