@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-blue: #016fb9;
  --light-blue: rgba(6, 118, 192, 0.068);
  --main-orange: #ff9505;
  --main-grey: #353531;
  --light-grey: #f4f4f4;
  --black: #000;
  --white: #fff;

  --heading: "Montserrat", sans-serif;
  --content: "Poppins", sans-serif;

  --fw-black: 900;
  --fw-bolder: 700;
  --fw-bold: 600;
  --fw-normal: 400;
}

body {
  font-family: var(--content);
}

.background {
  background-image: url("images/delivery.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Navigation */

nav {
  padding: 1rem 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 5rem;
}

.logo img {
  width: 100%;
}

.fa-bars {
  color: var(--main-orange);
}

/* Introduction */

.introduction {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5rem;
}

.heading {
  font-family: var(--heading);
  font-size: 3.1rem;
  font-weight: var(--fw-black);
  color: var(--white);
  margin: 2rem 0;
  line-height: 1;
}

.text {
  color: var(--white);
  font-size: 1rem;
  margin: 1rem 0;
}

.button {
  margin: 1rem 0;
}

.btn {
  background: var(--main-orange);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  font-weight: var(--fw-bold);
}

/* Main Content Styles */

section {
  padding: 2rem 0;
}

/* About Section Styles */

.bg-light {
  background-color: var(--light-grey);
}

.titles {
  font-family: var(--heading);
  color: var(--main-blue);
  font-size: 2.1rem;
  font-weight: var(--fw-black);
}

p.main-text {
  margin: 1.5rem 0;
  font-size: 0.9rem;
}

.about-image > img {
  width: 100%;
  margin: 2rem auto;
}

/* Benefits */

.benefits {
  text-align: center;
  margin: 3rem auto;
}

.circle {
  background: var(--main-grey);
  color: var(--white);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  font-family: var(--heading);
  font-weight: var(--fw-black);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.sub-title {
  color: var(--main-orange);
  font-size: 1.5rem;
  font-weight: var(--fw-bolder);
}

/* Featured Services Section Styles */

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgb(0 0 0 / 20%);
  overflow: hidden;
  width: 300px;
  margin: 2rem auto;
}

.card-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0;
}

.card-text {
  color: var(--main-orange);
  font-size: 1.1rem;
  font-weight: var(--fw-bolder);
  text-align: center;
  padding: 0.675rem 0;
}

.services .button {
  text-align: center;
}

.hide {
  display: none;
}

/* Join Section Styles*/

.join,
.sign-up {
  margin: 2rem auto;
}

.join-image,
.sign-up-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.join > *,
.sign-up > * {
  text-align: center;
}

.join > .sub-title,
.sign-up > .sub-title {
  margin: 1rem 0;
  color: var(--black);
}

hr {
  border: 2px solid var(--light-grey);
  margin: 1rem 0;
}

.join-two {
  background-image: url(images/grocer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 55vh;
}

/* App Section Styles */

.blue {
  background-color: var(--light-blue);
}

/* Review Section Styles */

.review-card {
  margin-top: 2rem;
  text-align: center;
}

.bold {
  font-weight: var(--fw-bold);
}
